<a href="https://colab.research.google.com/github/chakravarthypeddada/hr-employee-attrition/blob/main/Web_Scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [ ]:
url = "https://www.eurosport.com/football/premier-league/2019-2020/standing.shtml"
html = urlopen(url)

In [ ]:
soup = BeautifulSoup(html, 'lxml')
type(soup)

bs4.BeautifulSoup

In [ ]:
# Get the title
title = soup.title
print(title)

<title>Standings Premier League 2019-2020 - Football - Eurosport</title>

In [ ]:
# Print out the text
text = soup.get_text()
#print(soup.text)

In [ ]:
soup.find_all('a')

[<a href="https://www.eurosport.com">Other sports</a>,
 <a href="/olympics/">Olympics</a>,
 <a class="sd_nav-item-link header-logo" href="https://www.eurosport.com"></a>,
 <a class="sd_nav-item-link" href="https://video.eurosport.com">Video</a>,
 <a class="sd_nav-item-link" href="/score-center.shtml">Results</a>,
 <a class="sd_nav-item-link" href="/football/">Football</a>,
 <a class="sd_nav-item-link" href="/tennis/">Tennis</a>,
 <a class="sd_nav-item-link" href="/cycling/">Cycling</a>,
 <a href="/football/">Football</a>,
 <a href="/tennis/">Tennis</a>,
 <a href="/cycling/">Cycling</a>,
 <a href="/snooker/">Snooker</a>,
 <a href="/allmotorsports/">Motorsports</a>,
 <a href="/winter-sports/">Winter Sports</a>,
 <a href="/athletics/">Athletics</a>,
 <a href="/athletics/">Athletics</a>,
 <a href="/british-superbikes/">BSB</a>,
 <a href="/cricket/">Cricket</a>,
 <a href="/cycling/">Cycling</a>,
 <a href="/cycling-track/">Cycling - Track</a>,
 <a href="/darts/">Darts</a>,
 <a href="/equestrian/">Equestrian</a>,
 <a href="/formula-1/">F1</a>,
 <a href="/football/">Football</a>,
 <a href="/formula-e/">Formula E</a>,
 <a href="/horse-racing/">Horse Racing</a>,
 <a href="/judo/">Judo</a>,
 <a href="/allmotorsports/">Motorsports</a>,
 <a href="/olympics/">Olympics</a>,
 <a href="/paralympics/">Paralympics</a>,
 <a href="/rugby/">Rugby</a>,
 <a href="/snooker/">Snooker</a>,
 <a href="/speedway/">Speedway</a>,
 <a href="/squash/">Squash</a>,
 <a href="/superbikes/">Superbikes</a>,
 <a href="/tennis/">Tennis</a>,
 <a href="/football/transfers/">Transfers</a>,
 <a href="/university-sports/">University Sports</a>,
 <a href="/winter-sports/">Winter Sports</a>,
 <a class="search-item" href="/search.shtml"><span class="svg-font svg-search"></span></a>,
 <a href="https://auth.eurosport.com/my-account"><span class="svg-font svg-account"></span><span class="sd_nav-account-text">My Account</span></a>,
 <a href="https://auth.eurosport.com/login"><span class="svg-font svg-account"></span><span class="sd_nav-account-text">Sign in</span></a>,
 <a href="https://www.eurosport.com/?eso_no_redirect=1">International (English)</a>,
 <a href="https://espanol.eurosport.com/?eso_no_redirect=1">Internacional (Español)</a>,
 <a href="https://www.eurosport.dk/">Danmark</a>,
 <a href="https://www.eurosport.de/">Deutschland</a>,
 <a href="https://www.eurosport.nl/">Dutch</a>,
 <a href="https://www.eurosport.es/">España</a>,
 <a href="https://www.eurosport.fr/">France</a>,
 <a href="https://www.eurosport.it/">Italia</a>,
 <a href="https://www.eurosport.hu/">Magyarország</a>,
 <a href="https://www.eurosport.no/">Norge</a>,
 <a href="https://www.eurosport.ru/">Россия</a>,
 <a href="http://tv.eurosport.pl/">Polska</a>,
 <a href="http://eurosport.tvn24.pl">Polska TVN24</a>,
 <a href="https://www.eurosport.ro/">România</a>,
 <a href="https://www.eurosport.com.tr/">Türkiye</a>,
 <a href="https://www.eurosport.co.uk/">United Kingdom</a>,
 <a class="sd_nav-legal-links-topblock-content-link" href="https://help.eurosport.com/hc/en-gb">Help Center</a>,
 <a class="sd_nav-legal-links-content-link" href="http://corporate.eurosport.com">About Eurosport</a>,
 <a class="sd_nav-legal-links-content-link" href="/mobiles-apps.shtml">Mobile Apps</a>,
 <a class="sd_nav-legal-links-content-link" href="/eurosport/legal/2020-2021/terms-of-use-effective-1-april-2020_sto7711034/story.shtml">Terms of Use</a>,
 <a class="sd_nav-legal-links-content-link" href="/eurosport/legal/2020-2021/privacy-policy_sto7706601/story.shtml">Privacy Policy</a>,
 <a class="sd_nav-legal-links-content-link" href="/eurosport/legal/2020-2021/legal-information_sto7710100/story.shtml">Legal Information</a>,
 <a class="sd_nav-legal-links-content-link" href="/eurosport/legal/2020-2021/cookie-policy_sto7702916/story.shtml">Cookie Policy</a>,
 <a class="sd_nav-legal-links-content-link" href="/eurosport/legal/2020-2021/pass-information_sto7707294/story.shtml">Eurosport Pass Information</a>,
 <a class="sd_nav-legal-links-content-link" href="https://corporate.discovery.com/discoverys-modern-slavery-statement/">Modern Slavery Statement</a>,
 <a class="sd_nav-socials-list-icon" href="//facebook.com/Eurosport"><span class="svg-font-container facebook"><span class="svg-font svg-facebook-white"></span></span></a>,
 <a class="sd_nav-socials-list-icon" href="//twitter.com/Eurosport"><span class="svg-font-container twitter"><span class="svg-font svg-twitter-white"></span></span></a>,
 <a class="sd_nav-socials-list-icon" href="//www.snapchat.com/add/eurosport"><span class="svg-font-container snapchat"><span class="svg-font svg-snapchat-black"></span></span></a>,
 <a class="sd_nav-socials-list-icon" href="//www.instagram.com/eurosport/"><span class="svg-font-container instagram"><span class="svg-font svg-instagram-white"></span></span></a>,
 <a href="https://auth.eurosport.com/my-account"><span class="svg-font svg-account"></span><span class="sd_nav-account-text">My Account</span></a>,
 <a href="https://auth.eurosport.com/login"><span class="svg-font svg-account"></span><span class="sd_nav-account-text">Sign in</span></a>,
 <a href="https://www.eurosport.com">Home</a>,
 <a class="sd_nav-item-link" href="https://video.eurosport.com">Video</a>,
 <a class="sd_nav-item-link" href="/score-center.shtml">Results</a>,
 <a href="/football/">Football<span class="svg-font svg-arrow-down-comments"></span></a>,
 <a href="/football/">Football home</a>,
 <a href="/football/score-center.shtml">Fixtures - Results</a>,
 <a href="/football/transfers/">Transfers</a>,
 <a href="/football/transfers/2019-2020/transfer-news-live_sto7819443/story.shtml">Transfer news LIVE</a>,
 <a class="highlighted" href="/football/premier-league/">Premier League</a>,
 <a href="/football/champions-league/">Champions League</a>,
 <a href="/football/europa-league/">Europa League</a>,
 <a href="/football/euro/">Euro 2020</a>,
 <a href="/football/olympic-games/">Tokyo 2020</a>,
 <a href="/football/all-leagues_mni103171/menu.shtml">All Leagues</a>,
 <a href="/football/countrylist.shtml">National competitions</a>,
 <a href="/tennis/">Tennis<span class="svg-font svg-arrow-down-comments"></span></a>,
 <a href="/tennis/">Tennis home</a>,
 <a href="/tennis/score-center.shtml">Fixtures - Results</a>,
 <a href="/tennis/australian-open/">Australian Open</a>,
 <a href="/tennis/us-open/">US Open</a>,
 <a href="/tennis/olympic-games/">Tokyo 2020</a>,
 <a href="/tennis/all-competitions_mni103180/menu.shtml">All Competitions</a>,
 <a href="/cycling/">Cycling<span class="svg-font svg-arrow-down-comments"></span></a>,
 <a href="/cycling/">Cycling home</a>,
 <a href="/cycling/score-center.shtml">Fixtures - Results</a>,
 <a href="/cycling/calendar-result.shtml">Races – Results</a>,
 <a href="/cycling/tour-de-france/">Tour de France</a>,
 <a href="/cyclo-cross/">Cyclo-Cross</a>,
 <a href="/cycling/olympic-games/">Tokyo 2020</a>,
 <a href="https://video.eurosport.co.uk/cycling/video-channel/the-bradley-wiggins-show/">The Bradley Wiggins Show</a>,
 <a href="/cycling/all-competitions_mni103177/menu.shtml">All Competitions</a>,
 <a href="/snooker/">Snooker<span class="svg-font svg-arrow-down-comments"></span></a>,
 <a href="/snooker/">Snooker home</a>,
 <a href="/snooker/score-center.shtml">Fixtures - Results</a>,
 <a href="/snooker/irish-open/">Northern Ireland Open</a>,
 <a href="/snooker/all-championships_mni103186/menu.shtml">All Championships</a>,
 <a href="/allmotorsports/">Motorsports<span class="svg-font svg-arrow-down-comments"></span></a>,
 <a href="/allmotorsports/">Motorsports home</a>,
 <a href="/allmotorsports/score-center.shtml">Fixtures - Results</a>,
 <a href="/formula-1/">F1</a>,
 <a href="/moto/">MotoGP</a>,
 <a href="/formula-e/">Formula E</a>,
 <a href="/pure-etcr/">Pure ETCR</a>,
 <a href="/allmotorsports/all-sports_mni103192/menu.shtml">All Sports</a>,
 <a href="/winter-sports/">Winter Sports<span class="svg-font svg-arrow-down-comments"></span></a>,
 <a href="/winter-sports/">Winter Sports home</a>,
 <a href="/winter-sports/score-center.shtml">Fixtures - Results</a>,
 <a href="/winter-sports/all-sports_mni103194/menu.shtml">All Sports</a>,
 <a href="/athletics/">Athletics<span class="svg-font svg-arrow-down-comments"></span></a>,
 <a href="/athletics/">Athletics home</a>,
 <a href="/athletics/score-center.shtml">Fixtures - Results</a>,
 <a href="/athletics/diamond-league/">Diamond League</a>,
 <a href="/athletics/world-athletics-championships/">World Championships</a>,
 <a href="/athletics/world-indoor-championships/">World Indoor Championships</a>,
 <a href="/athletics/olympic-games/">Tokyo 2020</a>,
 <a href="/athletics/all-competitions_mni103199/menu.shtml">All Competitions</a>,
 <a href="/athletics/">Athletics<span class="svg-font svg-arrow-down-comments"></span></a>,
 <a href="/athletics/">Athletics home</a>,
 <a href="/athletics/score-center.shtml">Fixtures - Results</a>,
 <a href="/athletics/diamond-league/">Diamond League</a>,
 <a href="/athletics/world-athletics-championships/">World Championships</a>,
 <a href="/athletics/world-indoor-championships/">World Indoor Championships</a>,
 <a href="/athletics/olympic-games/">Tokyo 2020</a>,
 <a href="/athletics/all-competitions_mni103199/menu.shtml">All Competitions</a>,
 <a href="/british-superbikes/">BSB<span class="svg-font svg-arrow-down-comments"></span></a>,
 <a href="/british-superbikes/">BSB home</a>,
 <a href="/british-superbikes/score-center.shtml">Fixtures - Results</a>,
 <a href="/british-superbikes/british-superbikes/calendar-result.shtml">Calendar</a>,
 <a href="/british-superbikes/british-superbikes/standing_sea93.shtml">Standings</a>,
 <a href="/cricket/">Cricket<span class="svg-font svg-arrow-down-comments"></span></a>,
 <a href="/cricket/">Cricket home</a>,
 <a href="/cricket/score-center.shtml">Fixtures - Results</a>,
 <a href="/cycling/">Cycling<span class="svg-font svg-arrow-down-comments"></span></a>,
 <a href="/cycling/">Cycling home</a>,
 <a href="/cycling/score-center.shtml">Fixtures - Results</a>,
 <a href="/cycling/calendar-result.shtml">Races – Results</a>,
 <a href="/cycling/tour-de-france/">Tour de France</a>,
 <a href="/cyclo-cross/">Cyclo-Cross</a>,
 <a href="/cycling/olympic-games/">Tokyo 2020</a>,
 <a href="https://video.eurosport.co.uk/cycling/video-channel/the-bradley-wiggins-show/">The Bradley Wiggins Show</a>,
 <a href="/cycling/all-competitions_mni103177/menu.shtml">All Competitions</a>,
 <a href="/cycling-track/">Cycling - Track<span class="svg-font svg-arrow-down-comments"></span></a>,
 <a href="/cycling-track/">Cycling - Track home</a>,
 <a href="/cycling-track/uci-track-champions-league/">UCI Track Champions League</a>,
 <a href="/darts/">Darts<span class="svg-font svg-arrow-down-comments"></span></a>,
 <a href="/darts/">Darts home</a>,
 <a href="/darts/score-center.shtml">Fixtures - Results</a>,
 <a href="/equestrian/">Equestrian<span class="svg-font svg-arrow-down-comments"></span></a>,
 <a href="/equestrian/">Equestrian home</a>,
 <a href="/equestrian/score-center.shtml">Fixtures - Results</a>,
 <a href="/equestrian/olympic-games/">Tokyo 2020</a>,
 <a href="/formula-1/">F1<span class="svg-font svg-arrow-down-comments"></span></a>,
 <a href="/formula-1/">F1 home</a>,
 <a href="/formula-1/score-center.shtml">Fixtures - Results</a>,
 <a href="/formula-1/world-championship-1/calendar-result.shtml">Calendar</a>,
 <a href="/formula-1/world-championship-1/standing.shtml">Table</a>,
 <a href="/formula-1/playerlist.shtml">Drivers</a>,
 <a href="/football/">Football<span class="svg-font svg-arrow-down-comments"></span></a>,
 <a href="/football/">Football home</a>,
 <a href="/football/score-center.shtml">Fixtures - Results</a>,
 <a href="/football/transfers/">Transfers</a>,
 <a href="/football/transfers/2019-2020/transfer-news-live_sto7819443/story.shtml">Transfer news LIVE</a>,
 <a class="highlighted" href="/football/premier-league/">Premier League</a>,
 <a href="/football/champions-league/">Champions League</a>,
 <a href="/football/europa-league/">Europa League</a>,
 <a href="/football/euro/">Euro 2020</a>,
 <a href="/football/olympic-games/">Tokyo 2020</a>,
 <a href="/football/all-leagues_mni103171/menu.shtml">All Leagues</a>,
 <a href="/football/countrylist.shtml">National competitions</a>,
 <a href="/formula-e/">Formula E<span class="svg-font svg-arrow-down-comments"></span></a>,
 <a href="/formula-e/">Formula E home</a>,
 <a href="/formula-e/score-center.shtml">Fixtures - Results</a>,
 <a href="/formula-e/formula-e-championship/calendar-result.shtml">Calendar</a>,
 <a href="/formula-e/formula-e-championship/standing.shtml">Rankings</a>,
 <a href="/formula-e/fanboost/fanboost.shtml">Fanboost</a>,
 <a href="/horse-racing/">Horse Racing<span class="svg-font svg-arrow-down-comments"></span></a>,
 <a href="/horse-racing/">Horse Racing home</a>,
 <a href="/horse-racing/score-center.shtml">Fixtures - Results</a>,
 <a href="/judo/">Judo<span class="svg-font svg-arrow-down-comments"></span></a>,
 <a href="/judo/">Judo home</a>,
 <a href="/judo/score-center.shtml">Fixtures - Results</a>,
 <a href="/judo/olympic-games/">Tokyo 2020</a>,
 <a href="/allmotorsports/">Motorsports<span class="svg-font svg-arrow-down-comments"></span></a>,
 <a href="/allmotorsports/">Motorsports home</a>,
 <a href="/allmotorsports/score-center.shtml">Fixtures - Results</a>,
 <a href="/formula-1/">F1</a>,
 <a href="/moto/">MotoGP</a>,
 <a href="/formula-e/">Formula E</a>,
 <a href="/pure-etcr/">Pure ETCR</a>,
 <a href="/allmotorsports/all-sports_mni103192/menu.shtml">All Sports</a>,
 <a href="/olympics/">Olympics<span class="svg-font svg-arrow-down-comments"></span></a>,
 <a href="/olympics/">Olympics home</a>,
 <a href="/watch/olympics/">Video</a>,
 <a href="/olympics/video-channel/olympic-channel/channel.shtml">Olympic Channel </a>,
 <a href="/olympics/tokyo-2020/2020/">Tokyo 2020</a>,
 <a href="/paralympics/">Paralympics</a>,
 <a href="/rugby/">Rugby<span class="svg-font svg-arrow-down-comments"></span></a>,
 <a href="/rugby/">Rugby home</a>,
 <a href="/rugby/score-center.shtml">Fixtures - Results</a>,
 <a href="/rugby/world-cup/">World Cup</a>,
 <a href="/rugby/aviva-premiership/">Premiership</a>,
 <a href="/rugby/rabodirect-pro12/">Guinness Pro 12</a>,
 <a href="/rugby/all-leagues_mni103220/menu.shtml">All Leagues</a>,
 <a href="/snooker/">Snooker<span class="svg-font svg-arrow-down-comments"></span></a>,
 <a href="/snooker/">Snooker home</a>,
 <a href="/snooker/score-center.shtml">Fixtures - Results</a>,
 <a href="/snooker/irish-open/">Northern Ireland Open</a>,
 <a href="/snooker/all-championships_mni103186/menu.shtml">All Championships</a>,
 <a href="/speedway/">Speedway<span class="svg-font svg-arrow-down-comments"></span></a>,
 <a href="/speedway/">Speedway home</a>,
 <a href="/speedway/score-center.shtml">Fixtures - Results</a>,
 <a href="/squash/">Squash<span class="svg-font svg-arrow-down-comments"></span></a>,
 <a href="/squash/">Squash home</a>,
 <a href="/squash/score-center.shtml">Fixtures - Results</a>,
 <a href="/superbikes/">Superbikes<span class="svg-font svg-arrow-down-comments"></span></a>,
 <a href="/superbikes/">Superbikes home</a>,
 <a href="/superbikes/score-center.shtml">Fixtures - Results</a>,
 <a href="/superbikes/world-championship-2/calendar-result.shtml">Calendar</a>,
 <a href="/superbikes/world-championship-2/standing.shtml">Table</a>,
 <a href="/tennis/">Tennis<span class="svg-font svg-arrow-down-comments"></span></a>,
 <a href="/tennis/">Tennis home</a>,
 <a href="/tennis/score-center.shtml">Fixtures - Results</a>,
 <a href="/tennis/australian-open/">Australian Open</a>,
 <a href="/tennis/us-open/">US Open</a>,
 <a href="/tennis/olympic-games/">Tokyo 2020</a>,
 <a href="/tennis/all-competitions_mni103180/menu.shtml">All Competitions</a>,
 <a href="/football/transfers/">Transfers</a>,
 <a href="/university-sports/">University Sports<span class="svg-font svg-arrow-down-comments"></span></a>,
 <a href="/university-sports/">University Sports home</a>,
 <a href="/university-sports/score-center.shtml">Fixtures - Results</a>,
 <a href="/winter-sports/">Winter Sports<span class="svg-font svg-arrow-down-comments"></span></a>,
 <a href="/winter-sports/">Winter Sports home</a>,
 <a href="/winter-sports/score-center.shtml">Fixtures - Results</a>,
 <a href="/winter-sports/all-sports_mni103194/menu.shtml">All Sports</a>,
 <a href="https://www.eurosport.com/?eso_no_redirect=1">International (English)</a>,
 <a href="https://espanol.eurosport.com/?eso_no_redirect=1">Internacional (Español)</a>,
 <a href="https://www.eurosport.dk/">Danmark</a>,
 <a href="https://www.eurosport.de/">Deutschland</a>,
 <a href="https://www.eurosport.nl/">Dutch</a>,
 <a href="https://www.eurosport.es/">España</a>,
 <a href="https://www.eurosport.fr/">France</a>,
 <a href="https://www.eurosport.it/">Italia</a>,
 <a href="https://www.eurosport.hu/">Magyarország</a>,
 <a href="https://www.eurosport.no/">Norge</a>,
 <a href="https://www.eurosport.ru/">Россия</a>,
 <a href="http://tv.eurosport.pl/">Polska</a>,
 <a href="http://eurosport.tvn24.pl">Polska TVN24</a>,
 <a href="https://www.eurosport.ro/">România</a>,
 <a href="https://www.eurosport.com.tr/">Türkiye</a>,
 <a href="https://www.eurosport.co.uk/">United Kingdom</a>,
 <a class="sd_nav-legal-links-topblock-content-link" href="https://help.eurosport.com/hc/en-gb">Help Center</a>,
 <a class="sd_nav-legal-links-content-link" href="http://corporate.eurosport.com">About Eurosport</a>,
 <a class="sd_nav-legal-links-content-link" href="/mobiles-apps.shtml">Mobile Apps</a>,
 <a class="sd_nav-legal-links-content-link" href="/eurosport/legal/2020-2021/terms-of-use-effective-1-april-2020_sto7711034/story.shtml">Terms of Use</a>,
 <a class="sd_nav-legal-links-content-link" href="/eurosport/legal/2020-2021/privacy-policy_sto7706601/story.shtml">Privacy Policy</a>,
 <a class="sd_nav-legal-links-content-link" href="/eurosport/legal/2020-2021/legal-information_sto7710100/story.shtml">Legal Information</a>,
 <a class="sd_nav-legal-links-content-link" href="/eurosport/legal/2020-2021/cookie-policy_sto7702916/story.shtml">Cookie Policy</a>,
 <a class="sd_nav-legal-links-content-link" href="/eurosport/legal/2020-2021/pass-information_sto7707294/story.shtml">Eurosport Pass Information</a>,
 <a class="sd_nav-legal-links-content-link" href="https://corporate.discovery.com/discoverys-modern-slavery-statement/">Modern Slavery Statement</a>,
 <a class="sd_nav-socials-list-icon" href="//facebook.com/Eurosport"><span class="svg-font-container facebook"><span class="svg-font svg-facebook-white"></span></span></a>,
 <a class="sd_nav-socials-list-icon" href="//twitter.com/Eurosport"><span class="svg-font-container twitter"><span class="svg-font svg-twitter-white"></span></span></a>,
 <a class="sd_nav-socials-list-icon" href="//www.snapchat.com/add/eurosport"><span class="svg-font-container snapchat"><span class="svg-font svg-snapchat-black"></span></span></a>,
 <a class="sd_nav-socials-list-icon" href="//www.instagram.com/eurosport/"><span class="svg-font-container instagram"><span class="svg-font svg-instagram-white"></span></span></a>,
 <a href="/olympics/">Beijing 2022</a>,
 <a href="/olympics/live.shtml">Live</a>,
 <a href="/olympics/beijing-2022-sports.shtml">Sports</a>,
 <a href="/olympics/watch.shtml">Video</a>,
 <a href="https://www.eurosport.com/olympics/medals/">Medals</a>,
 <a href="https://www.eurosport.com/olympics/schedule-results/">Schedule &amp; Results</a>,
 <a href="https://www.eurosport.com/olympics/athletes/">ATHLETES</a>,
 <a href="/football/">Football</a>,
 <a href="/football/premier-league/">Premier League</a>,
 <a href="/football/premier-league/score-center.shtml">Fixtures - Results</a>,
 <a href="/football/premier-league/calendar-result.shtml">Calendar</a>,
 <a href="/football/premier-league/standing.shtml">Table</a>,
 <a href="/football/premier-league/standingperson.shtml">Top scorers</a>,
 <a href="/football/premier-league/palmares.shtml">Previous winners</a>,

In [ ]:
all_links = soup.find_all("a")
for link in all_links:
    print(link.get("href"))

https://www.eurosport.com
/olympics/
https://www.eurosport.com
https://video.eurosport.com
/score-center.shtml
/football/
/tennis/
/cycling/
/football/
/tennis/
/cycling/
/snooker/
/allmotorsports/
/winter-sports/
/athletics/
/athletics/
/british-superbikes/
/cricket/
/cycling/
/cycling-track/
/darts/
/equestrian/
/formula-1/
/football/
/formula-e/
/horse-racing/
/judo/
/allmotorsports/
/olympics/
/paralympics/
/rugby/
/snooker/
/speedway/
/squash/
/superbikes/
/tennis/
/football/transfers/
/university-sports/
/winter-sports/
/search.shtml
https://auth.eurosport.com/my-account
https://auth.eurosport.com/login
https://www.eurosport.com/?eso_no_redirect=1
https://espanol.eurosport.com/?eso_no_redirect=1
https://www.eurosport.dk/
https://www.eurosport.de/
https://www.eurosport.nl/
https://www.eurosport.es/
https://www.eurosport.fr/
https://www.eurosport.it/
https://www.eurosport.hu/
https://www.eurosport.no/
https://www.eurosport.ru/
http://tv.eurosport.pl/
http://eurosport.tvn24.pl
https://www.eurosport.ro/
https://www.eurosport.com.tr/
https://www.eurosport.co.uk/
https://help.eurosport.com/hc/en-gb
http://corporate.eurosport.com
/mobiles-apps.shtml
/eurosport/legal/2020-2021/terms-of-use-effective-1-april-2020_sto7711034/story.shtml
/eurosport/legal/2020-2021/privacy-policy_sto7706601/story.shtml
/eurosport/legal/2020-2021/legal-information_sto7710100/story.shtml
/eurosport/legal/2020-2021/cookie-policy_sto7702916/story.shtml
/eurosport/legal/2020-2021/pass-information_sto7707294/story.shtml
https://corporate.discovery.com/discoverys-modern-slavery-statement/
//facebook.com/Eurosport
//twitter.com/Eurosport
//www.snapchat.com/add/eurosport
//www.instagram.com/eurosport/
https://auth.eurosport.com/my-account
https://auth.eurosport.com/login
https://www.eurosport.com
https://video.eurosport.com
/score-center.shtml
/football/
/football/
/football/score-center.shtml
/football/transfers/
/football/transfers/2019-2020/transfer-news-live_sto7819443/story.shtml
/football/premier-league/
/football/champions-league/
/football/europa-league/
/football/euro/
/football/olympic-games/
/football/all-leagues_mni103171/menu.shtml
/football/countrylist.shtml
/tennis/
/tennis/
/tennis/score-center.shtml
/tennis/australian-open/
/tennis/us-open/
/tennis/olympic-games/
/tennis/all-competitions_mni103180/menu.shtml
/cycling/
/cycling/
/cycling/score-center.shtml
/cycling/calendar-result.shtml
/cycling/tour-de-france/
/cyclo-cross/
/cycling/olympic-games/
https://video.eurosport.co.uk/cycling/video-channel/the-bradley-wiggins-show/
/cycling/all-competitions_mni103177/menu.shtml
/snooker/
/snooker/
/snooker/score-center.shtml
/snooker/irish-open/
/snooker/all-championships_mni103186/menu.shtml
/allmotorsports/
/allmotorsports/
/allmotorsports/score-center.shtml
/formula-1/
/moto/
/formula-e/
/pure-etcr/
/allmotorsports/all-sports_mni103192/menu.shtml
/winter-sports/
/winter-sports/
/winter-sports/score-center.shtml
/winter-sports/all-sports_mni103194/menu.shtml
/athletics/
/athletics/
/athletics/score-center.shtml
/athletics/diamond-league/
/athletics/world-athletics-championships/
/athletics/world-indoor-championships/
/athletics/olympic-games/
/athletics/all-competitions_mni103199/menu.shtml
/athletics/
/athletics/
/athletics/score-center.shtml
/athletics/diamond-league/
/athletics/world-athletics-championships/
/athletics/world-indoor-championships/
/athletics/olympic-games/
/athletics/all-competitions_mni103199/menu.shtml
/british-superbikes/
/british-superbikes/
/british-superbikes/score-center.shtml
/british-superbikes/british-superbikes/calendar-result.shtml
/british-superbikes/british-superbikes/standing_sea93.shtml
/cricket/
/cricket/
/cricket/score-center.shtml
/cycling/
/cycling/
/cycling/score-center.shtml
/cycling/calendar-result.shtml
/cycling/tour-de-france/
/cyclo-cross/
/cycling/olympic-games/
https://video.eurosport.co.uk/cycling/video-channel/the-bradley-wiggins-show/
/cycling/all-competitions_mni103177/menu.shtml
/cycling-track/
/cycling-track/
/cycling-track/uci-track-champions-league/
/darts/
/darts/
/darts/score-center.shtml
/equestrian/
/equestrian/
/equestrian/score-center.shtml
/equestrian/olympic-games/
/formula-1/
/formula-1/
/formula-1/score-center.shtml
/formula-1/world-championship-1/calendar-result.shtml
/formula-1/world-championship-1/standing.shtml
/formula-1/playerlist.shtml
/football/
/football/
/football/score-center.shtml
/football/transfers/
/football/transfers/2019-2020/transfer-news-live_sto7819443/story.shtml
/football/premier-league/
/football/champions-league/
/football/europa-league/
/football/euro/
/football/olympic-games/
/football/all-leagues_mni103171/menu.shtml
/football/countrylist.shtml
/formula-e/
/formula-e/
/formula-e/score-center.shtml
/formula-e/formula-e-championship/calendar-result.shtml
/formula-e/formula-e-championship/standing.shtml
/formula-e/fanboost/fanboost.shtml
/horse-racing/
/horse-racing/
/horse-racing/score-center.shtml
/judo/
/judo/
/judo/score-center.shtml
/judo/olympic-games/
/allmotorsports/
/allmotorsports/
/allmotorsports/score-center.shtml
/formula-1/
/moto/
/formula-e/
/pure-etcr/
/allmotorsports/all-sports_mni103192/menu.shtml
/olympics/
/olympics/
/watch/olympics/
/olympics/video-channel/olympic-channel/channel.shtml
/olympics/tokyo-2020/2020/
/paralympics/
/rugby/
/rugby/
/rugby/score-center.shtml
/rugby/world-cup/
/rugby/aviva-premiership/
/rugby/rabodirect-pro12/
/rugby/all-leagues_mni103220/menu.shtml
/snooker/
/snooker/
/snooker/score-center.shtml
/snooker/irish-open/
/snooker/all-championships_mni103186/menu.shtml
/speedway/
/speedway/
/speedway/score-center.shtml
/squash/
/squash/
/squash/score-center.shtml
/superbikes/
/superbikes/
/superbikes/score-center.shtml
/superbikes/world-championship-2/calendar-result.shtml
/superbikes/world-championship-2/standing.shtml
/tennis/
/tennis/
/tennis/score-center.shtml
/tennis/australian-open/
/tennis/us-open/
/tennis/olympic-games/
/tennis/all-competitions_mni103180/menu.shtml
/football/transfers/
/university-sports/
/university-sports/
/university-sports/score-center.shtml
/winter-sports/
/winter-sports/
/winter-sports/score-center.shtml
/winter-sports/all-sports_mni103194/menu.shtml
https://www.eurosport.com/?eso_no_redirect=1
https://espanol.eurosport.com/?eso_no_redirect=1
https://www.eurosport.dk/
https://www.eurosport.de/
https://www.eurosport.nl/
https://www.eurosport.es/
https://www.eurosport.fr/
https://www.eurosport.it/
https://www.eurosport.hu/
https://www.eurosport.no/
https://www.eurosport.ru/
http://tv.eurosport.pl/
http://eurosport.tvn24.pl
https://www.eurosport.ro/
https://www.eurosport.com.tr/
https://www.eurosport.co.uk/
https://help.eurosport.com/hc/en-gb
http://corporate.eurosport.com
/mobiles-apps.shtml
/eurosport/legal/2020-2021/terms-of-use-effective-1-april-2020_sto7711034/story.shtml
/eurosport/legal/2020-2021/privacy-policy_sto7706601/story.shtml
/eurosport/legal/2020-2021/legal-information_sto7710100/story.shtml
/eurosport/legal/2020-2021/cookie-policy_sto7702916/story.shtml
/eurosport/legal/2020-2021/pass-information_sto7707294/story.shtml
https://corporate.discovery.com/discoverys-modern-slavery-statement/
//facebook.com/Eurosport
//twitter.com/Eurosport
//www.snapchat.com/add/eurosport
//www.instagram.com/eurosport/
/olympics/
/olympics/live.shtml
/olympics/beijing-2022-sports.shtml
/olympics/watch.shtml
https://www.eurosport.com/olympics/medals/
https://www.eurosport.com/olympics/schedule-results/
https://www.eurosport.com/olympics/athletes/
/football/
/football/premier-league/
/football/premier-league/score-center.shtml
/football/premier-league/calendar-result.shtml
/football/premier-league/standing.shtml
/football/premier-league/standingperson.shtml
/football/premier-league/palmares.shtml
/football/premier-league/2021-2022/standing.shtml
/football/premier-league/2020-2021/standing.shtml
/football/premier-league/2019-2020/standing.shtml
/football/premier-league/2018-2019/standing.shtml
/football/premier-league/2017-2018/standing.shtml
#
#
#
#
#
#
/football/teams/liverpool/teamcenter.shtml
/football/teams/manchester-city/teamcenter.shtml
/football/teams/manchester-united/teamcenter.shtml
/football/teams/chelsea/teamcenter.shtml
/football/teams/leicester-city/teamcenter.shtml
/football/teams/tottenham-hotspur/teamcenter.shtml
/football/teams/wolverhampton-wanderers/teamcenter.shtml
/football/teams/arsenal/teamcenter.shtml
/football/teams/sheffield-united/teamcenter.shtml
/football/teams/burnley/teamcenter.shtml
/football/teams/southampton/teamcenter.shtml
/football/teams/everton/teamcenter.shtml
/football/teams/newcastle-united-1/teamcenter.shtml
/football/teams/crystal-palace/teamcenter.shtml
/football/teams/brighton-and-hove-albion/teamcenter.shtml
/football/teams/west-ham-united/teamcenter.shtml
/football/teams/aston-villa/teamcenter.shtml
/football/teams/afc-bournemouth/teamcenter.shtml
/football/teams/watford/teamcenter.shtml
/football/teams/norwich-city/teamcenter.shtml
https://auth.eurosportplayer.com/login

In [ ]:
# Print the first 10 rows for sanity check
rows = soup.find_all('tr')
print(rows[:10])

[<tr class="standing-table__header"><th class="standing-table__header-cell standing-table__header-cell--position"> </th><th class="standing-table__header-cell standing-table__header-cell--team">Teams</th><th class="standing-table__header-cell standing-table__header-cell--secondary standing-table__header-cell--last5">Last 5</th><th class="standing-table__header-cell standing-table__header-cell--secondary">P</th><th class="standing-table__header-cell standing-table__header-cell--secondary">W</th><th class="standing-table__header-cell standing-table__header-cell--secondary">D</th><th class="standing-table__header-cell standing-table__header-cell--secondary">L</th><th class="standing-table__header-cell standing-table__header-cell--secondary">GF</th><th class="standing-table__header-cell standing-table__header-cell--secondary">GA</th><th class="standing-table__header-cell standing-table__header-cell--secondary">+/-</th><th class="standing-table__header-cell standing-table__header-cell--main">Pts</th></tr>, <tr class="standing-table__row"><td class="standing-table__cell standing-table__cell--position">1</td><td class="standing-table__cell standing-table__cell--team"><a class="standing-table__team-link" data-fav-entity="10_2" href="/football/teams/liverpool/teamcenter.shtml"><span class="image"><img alt="" class="isg-interchange lazyload" data-isg-interchange='{"f":{"medium":"https://i.eurosport.com/_iss_/sport/football/club/logo/medium/4075.png"},"b":{"ms":"medium","ml":"medium","t":"medium","d":"medium"}}' data-isg-lazy="https://i.eurosport.com/_iss_/sport/football/club/logo/medium/4075.png" data-lazy-type="isg"/></span><span class="text">Liverpool</span></a></td><td class="standing-table__cell standing-table__cell--secondary standing-table__cell--last5"><div class="standing-table__last5-container standing-table__last5-container--reverse-order"><div class="standing-table__last5-icon standing-table__last5-icon--won"></div><div class="standing-table__last5-icon standing-table__last5-icon--won"></div><div class="standing-table__last5-icon standing-table__last5-icon--lost"></div><div class="standing-table__last5-icon standing-table__last5-icon--draw"></div><div class="standing-table__last5-icon standing-table__last5-icon--won"></div></div></td><td class="standing-table__cell standing-table__cell--secondary">38</td><td class="standing-table__cell standing-table__cell--secondary">32</td><td class="standing-table__cell standing-table__cell--secondary">3</td><td class="standing-table__cell standing-table__cell--secondary">3</td><td class="standing-table__cell standing-table__cell--secondary">85</td><td class="standing-table__cell standing-table__cell--secondary">33</td><td class="standing-table__cell standing-table__cell--secondary">52</td><td class="standing-table__cell standing-table__cell--main active-column"><span class="standing-table__cell-value standing-table__cell-value--main">99</span><span class="standing-table__arrow-icon standing-table__arrow-icon--right"></span></td></tr>, <tr class="standing-table__row"><td class="standing-table__cell standing-table__cell--position">2</td><td class="standing-table__cell standing-table__cell--team"><a class="standing-table__team-link" data-fav-entity="384_2" href="/football/teams/manchester-city/teamcenter.shtml"><span class="image"><img alt="" class="isg-interchange lazyload" data-isg-interchange='{"f":{"medium":"https://i.eurosport.com/_iss_/sport/football/club/logo/medium/4222.png"},"b":{"ms":"medium","ml":"medium","t":"medium","d":"medium"}}' data-isg-lazy="https://i.eurosport.com/_iss_/sport/football/club/logo/medium/4222.png" data-lazy-type="isg"/></span><span class="text">Manchester City</span></a></td><td class="standing-table__cell standing-table__cell--secondary standing-table__cell--last5"><div class="standing-table__last5-container standing-table__last5-container--reverse-order"><div class="standing-table__last5-icon standing-table__last5-icon--won"></div><div class="standing-table__last5-icon standing-table__last5-icon--won"></div><div class="standing-table__last5-icon standing-table__last5-icon--won"></div><div class="standing-table__last5-icon standing-table__last5-icon--won"></div><div class="standing-table__last5-icon standing-table__last5-icon--won"></div></div></td><td class="standing-table__cell standing-table__cell--secondary">38</td><td class="standing-table__cell standing-table__cell--secondary">26</td><td class="standing-table__cell standing-table__cell--secondary">3</td><td class="standing-table__cell standing-table__cell--secondary">9</td><td class="standing-table__cell standing-table__cell--secondary">102</td><td class="standing-table__cell standing-table__cell--secondary">35</td><td class="standing-table__cell standing-table__cell--secondary">67</td><td class="standing-table__cell standing-table__cell--main active-column"><span class="standing-table__cell-value standing-table__cell-value--main">81</span><span class="standing-table__arrow-icon standing-table__arrow-icon--right"></span></td></tr>, <tr class="standing-table__row"><td class="standing-table__cell standing-table__cell--position">3</td><td class="standing-table__cell standing-table__cell--team"><a class="standing-table__team-link" data-fav-entity="5_2" href="/football/teams/manchester-united/teamcenter.shtml"><span class="image"><img alt="" class="isg-interchange lazyload" data-isg-interchange='{"f":{"medium":"https://i.eurosport.com/_iss_/sport/football/club/logo/medium/4080.png"},"b":{"ms":"medium","ml":"medium","t":"medium","d":"medium"}}' data-isg-lazy="https://i.eurosport.com/_iss_/sport/football/club/logo/medium/4080.png" data-lazy-type="isg"/></span><span class="text">Manchester United</span></a></td><td class="standing-table__cell standing-table__cell--secondary standing-table__cell--last5"><div class="standing-table__last5-container standing-table__last5-container--reverse-order"><div class="standing-table__last5-icon standing-table__last5-icon--won"></div><div class="standing-table__last5-icon standing-table__last5-icon--draw"></div><div class="standing-table__last5-icon standing-table__last5-icon--won"></div><div class="standing-table__last5-icon standing-table__last5-icon--draw"></div><div class="standing-table__last5-icon standing-table__last5-icon--won"></div></div></td><td class="standing-table__cell standing-table__cell--secondary">38</td><td class="standing-table__cell standing-table__cell--secondary">18</td><td class="standing-table__cell standing-table__cell--secondary">12</td><td class="standing-table__cell standing-table__cell--secondary">8</td><td class="standing-table__cell standing-table__cell--secondary">66</td><td class="standing-table__cell standing-table__cell--secondary">36</td><td class="standing-table__cell standing-table__cell--secondary">30</td><td class="standing-table__cell standing-table__cell--main active-column"><span class="standing-table__cell-value standing-table__cell-value--main">66</span><span class="standing-table__arrow-icon standing-table__arrow-icon--right"></span></td></tr>, <tr class="standing-table__row"><td class="standing-table__cell standing-table__cell--position">4</td><td class="standing-table__cell standing-table__cell--team"><a class="standing-table__team-link" data-fav-entity="16_2" href="/football/teams/chelsea/teamcenter.shtml"><span class="image"><img alt="" class="isg-interchange lazyload" data-isg-interchange='{"f":{"medium":"https://i.eurosport.com/_iss_/sport/football/club/logo/medium/4034.png"},"b":{"ms":"medium","ml":"medium","t":"medium","d":"medium"}}' data-isg-lazy="https://i.eurosport.com/_iss_/sport/football/club/logo/medium/4034.png" data-lazy-type="isg"/></span><span class="text">Chelsea</span></a></td><td class="standing-table__cell standing-table__cell--secondary standing-table__cell--last5"><div class="standing-table__last5-container standing-table__last5-container--reverse-order"><div class="standing-table__last5-icon standing-table__last5-icon--won"></div><div class="standing-table__last5-icon standing-table__last5-icon--lost"></div><div class="standing-table__last5-icon standing-table__last5-icon--won"></div><div class="standing-table__last5-icon standing-table__last5-icon--lost"></div><div class="standing-table__last5-icon standing-table__last5-icon--won"></div></div></td><td class="standing-table__cell standing-table__cell--secondary">38</td><td class="standing-table__cell standing-table__cell--secondary">20</td><td class="standing-table__cell standing-table__cell--secondary">6</td><td class="standing-table__cell standing-table__cell--secondary">12</td><td class="standing-table__cell standing-table__cell--secondary">69</td><td class="standing-table__cell standing-table__cell--secondary">54</td><td class="standing-table__cell standing-table__cell--secondary">15</td><td class="standing-table__cell standing-table__cell--main active-column"><span class="standing-table__cell-value standing-table__cell-value--main">66</span><span class="standing-table__arrow-icon standing-table__arrow-icon--right"></span></td></tr>, <tr class="standing-table__row"><td class="standing-table__cell standing-table__cell--position">5</td><td class="standing-table__cell standing-table__cell--team"><a class="standing-table__team-link" data-fav-entity="105_2" href="/football/teams/leicester-city/teamcenter.shtml"><span class="image"><img alt="" class="isg-interchange lazyload" data-isg-interchange='{"f":{"medium":"https://i.eurosport.com/_iss_/sport/football/club/logo/medium/4693.png"},"b":{"ms":"medium","ml":"medium","t":"medium","d":"medium"}}' data-isg-lazy="https://i.eurosport.com/_iss_/sport/football/club/logo/medium/4693.png" data-lazy-type="isg"/></span><span class="text">Leicester City</span></a></td><td class="standing-table__cell standing-table__cell--secondary standing-table__cell--last5"><div class="standing-table__last5-container standing-table__last5-container--reverse-order"><div class="standing-table__last5-icon standing-table__last5-icon--lost"></div><div class="standing-table__last5-icon standing-table__last5-icon--lost"></div><div class="standing-table__last5-icon standing-table__last5-icon--won"></div><div class="standing-table__last5-icon standing-table__last5-icon--lost"></div><div class="standing-table__last5-icon standing-table__last5-icon--draw"></div></div></td><td class="standing-table__cell standing-table__cell--secondary">38</td><td class="standing-table__cell standing-table__cell--secondary">18</td><td class="standing-table__cell standing-table__cell--secondary">8</td><td class="standing-table__cell standing-table__cell--secondary">12</td><td class="standing-table__cell standing-table__cell--secondary">67</td><td class="standing-table__cell standing-table__cell--secondary">41</td><td class="standing-table__cell standing-table__cell--secondary">26</td><td class="standing-table__cell standing-table__cell--main active-column"><span class="standing-table__cell-value standing-table__cell-value--main">62</span><span class="standing-table__arrow-icon standing-table__arrow-icon--right"></span></td></tr>, <tr class="standing-table__row"><td class="standing-table__cell standing-table__cell--position">6</td><td class="standing-table__cell standing-table__cell--team"><a class="standing-table__team-link" data-fav-entity="107_2" href="/football/teams/tottenham-hotspur/teamcenter.shtml"><span class="image"><img alt="" class="isg-interchange lazyload" data-isg-interchange='{"f":{"medium":"https://i.eurosport.com/_iss_/sport/football/club/logo/medium/4129.png"},"b":{"ms":"medium","ml":"medium","t":"medium","d":"medium"}}' data-isg-lazy="https://i.eurosport.com/_iss_/sport/football/club/logo/medium/4129.png" data-lazy-type="isg"/></span><span class="text">Tottenham Hotspur</span></a></td><td class="standing-table__cell standing-table__cell--secondary standing-table__cell--last5"><div class="standing-table__last5-container standing-table__last5-container--reverse-order"><div class="standing-table__last5-icon standing-table__last5-icon--draw"></div><div class="standing-table__last5-icon standing-table__last5-icon--won"></div><div class="standing-table__last5-icon standing-table__last5-icon--won"></div><div class="standing-table__last5-icon standing-table__last5-icon--won"></div><div class="standing-table__last5-icon standing-table__last5-icon--draw"></div></div></td><td class="standing-table__cell standing-table__cell--secondary">38</td><td class="standing-table__cell standing-table__cell--secondary">16</td><td class="standing-table__cell standing-table__cell--secondary">11</td><td class="standing-table__cell standing-table__cell--secondary">11</td><td class="standing-table__cell standing-table__cell--secondary">61</td><td class="standing-table__cell standing-table__cell--secondary">47</td><td class="standing-table__cell standing-table__cell--secondary">14</td><td class="standing-table__cell standing-table__cell--main active-column"><span class="standing-table__cell-value standing-table__cell-value--main">59</span><span class="standing-table__arrow-icon standing-table__arrow-icon--up"></span></td></tr>, <tr class="standing-table__row"><td class="standing-table__cell standing-table__cell--position">7</td><td class="standing-table__cell standing-table__cell--team"><a class="standing-table__team-link" data-fav-entity="417_2" href="/football/teams/wolverhampton-wanderers/teamcenter.shtml"><span class="image"><img alt="" class="isg-interchange lazyload" data-isg-interchange='{"f":{"medium":"https://i.eurosport.com/_iss_/sport/football/club/logo/medium/4211.png"},"b":{"ms":"medium","ml":"medium","t":"medium","d":"medium"}}' data-isg-lazy="https://i.eurosport.com/_iss_/sport/football/club/logo/medium/4211.png" data-lazy-type="isg"/></span><span class="text">Wolverhampton Wanderers</span></a></td><td class="standing-table__cell standing-table__cell--secondary standing-table__cell--last5"><div class="standing-table__last5-container standing-table__last5-container--reverse-order"><div class="standing-table__last5-icon standing-table__last5-icon--lost"></div><div class="standing-table__last5-icon standing-table__last5-icon--won"></div><div class="standing-table__last5-icon standing-table__last5-icon--draw"></div><div class="standing-table__last5-icon standing-table__last5-icon--won"></div><div class="standing-table__last5-icon standing-table__last5-icon--lost"></div></div></td><td class="standing-table__cell standing-table__cell--secondary">38</td><td class="standing-table__cell standing-table__cell--secondary">15</td><td class="standing-table__cell standing-table__cell--secondary">14</td><td class="standing-table__cell standing-table__cell--secondary">9</td><td class="standing-table__cell standing-table__cell--secondary">51</td><td class="standing-table__cell standing-table__cell--secondary">40</td><td class="standing-table__cell standing-table__cell--secondary">11</td><td class="standing-table__cell standing-table__cell--main active-column"><span class="standing-table__cell-value standing-table__cell-value--main">59</span><span class="standing-table__arrow-icon standing-table__arrow-icon--down"></span></td></tr>, <tr class="standing-table__row"><td class="standing-table__cell standing-table__cell--position">8</td><td class="standing-table__cell standing-table__cell--team"><a class="standing-table__team-link" data-fav-entity="1_2" href="/football/teams/arsenal/teamcenter.shtml"><span class="image"><img alt="" class="isg-interchange lazyload" data-isg-interchange='{"f":{"medium":"https://i.eurosport.com/_iss_/sport/football/club/logo/medium/4007.png"},"b":{"ms":"medium","ml":"medium","t":"medium","d":"medium"}}' data-isg-lazy="https://i.eurosport.com/_iss_/sport/football/club/logo/medium/4007.png" data-lazy-type="isg"/></span><span class="text">Arsenal</span></a></td><td class="standing-table__cell standing-table__cell--secondary standing-table__cell--last5"><div class="standing-table__last5-container standing-table__last5-container--reverse-order"><div class="standing-table__last5-icon standing-table__last5-icon--won"></div><div class="standing-table__last5-icon standing-table__last5-icon--lost"></div><div class="standing-table__last5-icon standing-table__last5-icon--won"></div><div class="standing-table__last5-icon standing-table__last5-icon--lost"></div><div class="standing-table__last5-icon standing-table__last5-icon--draw"></div></div></td><td class="standing-table__cell standing-table__cell--secondary">38</td><td class="standing-table__cell standing-table__cell--secondary">14</td><td class="standing-table__cell standing-table__cell--secondary">14</td><td class="standing-table__cell standing-table__cell--secondary">10</td><td class="standing-table__cell standing-table__cell--secondary">56</td><td class="standing-table__cell standing-table__cell--secondary">48</td><td class="standing-table__cell standing-table__cell--secondary">8</td><td class="standing-table__cell standing-table__cell--main active-column"><span class="standing-table__cell-value standing-table__cell-value--main">56</span><span class="standing-table__arrow-icon standing-table__arrow-icon--up"></span></td></tr>, <tr class="standing-table__row"><td class="standing-table__cell standing-table__cell--position">9</td><td class="standing-table__cell standing-table__cell--team"><a class="standing-table__team-link" data-fav-entity="415_2" href="/football/teams/sheffield-united/teamcenter.shtml"><span class="image"><img alt="" class="isg-interchange lazyload" data-isg-interchange='{"f":{"medium":"https://i.eurosport.com/_iss_/sport/football/club/logo/medium/100046.png"},"b":{"ms":"medium","ml":"medium","t":"medium","d":"medium"}}' data-isg-lazy="https://i.eurosport.com/_iss_/sport/football/club/logo/medium/100046.png" data-lazy-type="isg"/></span><span class="text">Sheffield United</span></a></td><td class="standing-table__cell standing-table__cell--secondary standing-table__cell--last5"><div class="standing-table__last5-container standing-table__last5-container--reverse-order"><div class="standing-table__last5-icon standing-table__last5-icon--lost"></div><div class="standing-table__last5-icon standing-table__last5-icon--lost"></div><div class="standing-table__last5-icon standing-table__last5-icon--lost"></div><div class="standing-table__last5-icon standing-table__last5-icon--won"></div><div class="standing-table__last5-icon standing-table__last5-icon--won"></div></div></td><td class="standing-table__cell standing-table__cell--secondary">38</td><td class="standing-table__cell standing-table__cell--secondary">14</td><td class="standing-table__cell standing-table__cell--secondary">12</td><td class="standing-table__cell standing-table__cell--secondary">12</td><td class="standing-table__cell standing-table__cell--secondary">39</td><td class="standing-table__cell standing-table__cell--secondary">39</td><td class="standing-table__cell standing-table__cell--secondary">0</td><td class="standing-table__cell standing-table__cell--main active-column"><span class="standing-table__cell-value standing-table__cell-value--main">54</span><span class="standing-table__arrow-icon standing-table__arrow-icon--down"></span></td></tr>]

In [ ]:
for row in rows:
    row_td = row.find_all('td')
print(row_td)
type(row_td)

[<td class="standing-table__cell standing-table__cell--position">20</td>, <td class="standing-table__cell standing-table__cell--team"><a class="standing-table__team-link" data-fav-entity="421_2" href="/football/teams/norwich-city/teamcenter.shtml"><span class="image"><img alt="" class="isg-interchange lazyload" data-isg-interchange='{"f":{"medium":"https://i.eurosport.com/_iss_/sport/football/club/logo/medium/4760.png"},"b":{"ms":"medium","ml":"medium","t":"medium","d":"medium"}}' data-isg-lazy="https://i.eurosport.com/_iss_/sport/football/club/logo/medium/4760.png" data-lazy-type="isg"/></span><span class="text">Norwich City</span></a></td>, <td class="standing-table__cell standing-table__cell--secondary standing-table__cell--last5"><div class="standing-table__last5-container standing-table__last5-container--reverse-order"><div class="standing-table__last5-icon standing-table__last5-icon--lost"></div><div class="standing-table__last5-icon standing-table__last5-icon--lost"></div><div class="standing-table__last5-icon standing-table__last5-icon--lost"></div><div class="standing-table__last5-icon standing-table__last5-icon--lost"></div><div class="standing-table__last5-icon standing-table__last5-icon--lost"></div></div></td>, <td class="standing-table__cell standing-table__cell--secondary">38</td>, <td class="standing-table__cell standing-table__cell--secondary">5</td>, <td class="standing-table__cell standing-table__cell--secondary">6</td>, <td class="standing-table__cell standing-table__cell--secondary">27</td>, <td class="standing-table__cell standing-table__cell--secondary">26</td>, <td class="standing-table__cell standing-table__cell--secondary">75</td>, <td class="standing-table__cell standing-table__cell--secondary">-49</td>, <td class="standing-table__cell standing-table__cell--main active-column"><span class="standing-table__cell-value standing-table__cell-value--main">21</span><span class="standing-table__arrow-icon standing-table__arrow-icon--right"></span></td>]

bs4.element.ResultSet

In [ ]:
str_cells = str(row_td)
cleantext = BeautifulSoup(str_cells, "lxml").get_text()
print(cleantext)

[20, Norwich City, , 38, 5, 6, 27, 26, 75, -49, 21]

In [ ]:
import re

list_rows = []
for row in rows:
    cells = row.find_all('td')
    str_cells = str(cells)
    clean = re.compile('<.*?>')
    clean2 = (re.sub(clean, '',str_cells))
    list_rows.append(clean2)
print(clean2)
type(clean2)

[20, Norwich City, , 38, 5, 6, 27, 26, 75, -49, 21]

str

In [ ]:
df = pd.DataFrame(list_rows)
df.head(10)

                                                   0
0                                                 []
1     [1, Liverpool, , 38, 32, 3, 3, 85, 33, 52, 99]
2  [2, Manchester City, , 38, 26, 3, 9, 102, 35, ...
3  [3, Manchester United, , 38, 18, 12, 8, 66, 36...
4      [4, Chelsea, , 38, 20, 6, 12, 69, 54, 15, 66]
5  [5, Leicester City, , 38, 18, 8, 12, 67, 41, 2...
6  [6, Tottenham Hotspur, , 38, 16, 11, 11, 61, 4...
7  [7, Wolverhampton Wanderers, , 38, 15, 14, 9, ...
8      [8, Arsenal, , 38, 14, 14, 10, 56, 48, 8, 56]
9  [9, Sheffield United, , 38, 14, 12, 12, 39, 39...

In [ ]:
df1 = df[0].str.split(',', expand=True)
df1.head(10)

   0                         1     2     3     4   ...    6     7     8     9     10
0  []                      None  None  None  None  ...  None  None  None  None  None
1  [1                 Liverpool          38    32  ...     3    85    33    52   99]
2  [2           Manchester City          38    26  ...     9   102    35    67   81]
3  [3         Manchester United          38    18  ...     8    66    36    30   66]
4  [4                   Chelsea          38    20  ...    12    69    54    15   66]
5  [5            Leicester City          38    18  ...    12    67    41    26   62]
6  [6         Tottenham Hotspur          38    16  ...    11    61    47    14   59]
7  [7   Wolverhampton Wanderers          38    15  ...     9    51    40    11   59]
8  [8                   Arsenal          38    14  ...    10    56    48     8   56]
9  [9          Sheffield United          38    14  ...    12    39    39     0   54]

[10 rows x 11 columns]

In [ ]:
df1[0] = df1[0].str.strip('[')
df1.head(10)

  0                         1     2     3     4   ...    6     7     8     9     10
0  ]                      None  None  None  None  ...  None  None  None  None  None
1  1                 Liverpool          38    32  ...     3    85    33    52   99]
2  2           Manchester City          38    26  ...     9   102    35    67   81]
3  3         Manchester United          38    18  ...     8    66    36    30   66]
4  4                   Chelsea          38    20  ...    12    69    54    15   66]
5  5            Leicester City          38    18  ...    12    67    41    26   62]
6  6         Tottenham Hotspur          38    16  ...    11    61    47    14   59]
7  7   Wolverhampton Wanderers          38    15  ...     9    51    40    11   59]
8  8                   Arsenal          38    14  ...    10    56    48     8   56]
9  9          Sheffield United          38    14  ...    12    39    39     0   54]

[10 rows x 11 columns]

In [ ]:
col_labels = soup.find_all('th')

In [ ]:
all_header = []
col_str = str(col_labels)
cleantext2 = BeautifulSoup(col_str, "lxml").get_text()
all_header.append(cleantext2)
print(all_header)

['[\xa0, Teams, Last 5, P, W, D, L, GF, GA, +/-, Pts]']

In [ ]:
df2 = pd.DataFrame(all_header)
df2.head()

                                                  0
0  [ , Teams, Last 5, P, W, D, L, GF, GA, +/-, Pts]

In [ ]:
df3 = df2[0].str.split(',', expand=True)
df3.head()

   0       1        2   3   4   5   6    7    8     9      10
0  [    Teams   Last 5   P   W   D   L   GF   GA   +/-   Pts]

In [ ]:
frames = [df3, df1]

df4 = pd.concat(frames)
df4.head(10)

   0                         1        2     3   ...    7     8     9      10
0  [                      Teams   Last 5     P  ...    GF    GA   +/-   Pts]
0   ]                      None     None  None  ...  None  None  None   None
1   1                 Liverpool             38  ...    85    33    52    99]
2   2           Manchester City             38  ...   102    35    67    81]
3   3         Manchester United             38  ...    66    36    30    66]
4   4                   Chelsea             38  ...    69    54    15    66]
5   5            Leicester City             38  ...    67    41    26    62]
6   6         Tottenham Hotspur             38  ...    61    47    14    59]
7   7   Wolverhampton Wanderers             38  ...    51    40    11    59]
8   8                   Arsenal             38  ...    56    48     8    56]

[10 rows x 11 columns]

In [ ]:
df5 = df4.rename(columns=df4.iloc[0])
df5.head()

   [                Teams   Last 5     P     W  ...     L    GF    GA   +/-   Pts]
0  [                Teams   Last 5     P     W  ...     L    GF    GA   +/-   Pts]
0   ]                None     None  None  None  ...  None  None  None  None   None
1   1           Liverpool             38    32  ...     3    85    33    52    99]
2   2     Manchester City             38    26  ...     9   102    35    67    81]
3   3   Manchester United             38    18  ...     8    66    36    30    66]

[5 rows x 11 columns]

In [ ]:
df5.info()
df5.shape

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22 entries, 0 to 20
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   [        22 non-null     object
 1    Teams   21 non-null     object
 2    Last 5  21 non-null     object
 3    P       21 non-null     object
 4    W       21 non-null     object
 5    D       21 non-null     object
 6    L       21 non-null     object
 7    GF      21 non-null     object
 8    GA      21 non-null     object
 9    +/-     21 non-null     object
 10   Pts]    21 non-null     object
dtypes: object(11)
memory usage: 2.1+ KB

(22, 11)

In [ ]:
df6 = df5.dropna(axis=0, how='any')

In [ ]:
df7 = df6.drop(df6.index[0])
df7.head()

  [                Teams  Last 5    P    W    D    L    GF   GA  +/-  Pts]
1  1           Liverpool           38   32    3    3    85   33   52   99]
2  2     Manchester City           38   26    3    9   102   35   67   81]
3  3   Manchester United           38   18   12    8    66   36   30   66]
4  4             Chelsea           38   20    6   12    69   54   15   66]
5  5      Leicester City           38   18    8   12    67   41   26   62]

In [ ]:
df7.columns

Index(['[ ', ' Teams', ' Last 5', ' P', ' W', ' D', ' L', ' GF', ' GA', ' +/-',
       ' Pts]'],
      dtype='object')

In [ ]:
df7.rename(columns={'[ ': 'S.No'},inplace=True)
df7.rename(columns={' Pts]': 'Pts'},inplace=True)
df7.head()

  [                Teams  Last 5    P    W    D    L    GF   GA  +/-   Pts
1  1           Liverpool           38   32    3    3    85   33   52   99]
2  2     Manchester City           38   26    3    9   102   35   67   81]
3  3   Manchester United           38   18   12    8    66   36   30   66]
4  4             Chelsea           38   20    6   12    69   54   15   66]
5  5      Leicester City           38   18    8   12    67   41   26   62]

In [ ]:
df7['Pts'] = df7['Pts'].str.strip(']')
df7.head()

  [                Teams  Last 5    P    W    D    L    GF   GA  +/-  Pts
1  1           Liverpool           38   32    3    3    85   33   52   99
2  2     Manchester City           38   26    3    9   102   35   67   81
3  3   Manchester United           38   18   12    8    66   36   30   66
4  4             Chelsea           38   20    6   12    69   54   15   66
5  5      Leicester City           38   18    8   12    67   41   26   62

In [ ]:
df7.rename(columns={'[ ': 'SNo'},inplace=True)
df7.head()

  [                Teams  Last 5    P    W    D    L    GF   GA  +/-  Pts
1  1           Liverpool           38   32    3    3    85   33   52   99
2  2     Manchester City           38   26    3    9   102   35   67   81
3  3   Manchester United           38   18   12    8    66   36   30   66
4  4             Chelsea           38   20    6   12    69   54   15   66
5  5      Leicester City           38   18    8   12    67   41   26   62

In [ ]:
df7.columns

Index(['[ ', ' Teams', ' Last 5', ' P', ' W', ' D', ' L', ' GF', ' GA', ' +/-',
       'Pts'],
      dtype='object')

In [ ]:
df7.drop(['[\xa0'], axis=1,inplace=True)

In [ ]:
df7.head()

                Teams  Last 5    P    W    D    L    GF   GA  +/-  Pts
1           Liverpool           38   32    3    3    85   33   52   99
2     Manchester City           38   26    3    9   102   35   67   81
3   Manchester United           38   18   12    8    66   36   30   66
4             Chelsea           38   20    6   12    69   54   15   66
5      Leicester City           38   18    8   12    67   41   26   62

In [ ]:
df7

                          Teams  Last 5    P    W  ...    GF   GA   +/-  Pts
1                     Liverpool           38   32  ...    85   33    52   99
2               Manchester City           38   26  ...   102   35    67   81
3             Manchester United           38   18  ...    66   36    30   66
4                       Chelsea           38   20  ...    69   54    15   66
5                Leicester City           38   18  ...    67   41    26   62
6             Tottenham Hotspur           38   16  ...    61   47    14   59
7       Wolverhampton Wanderers           38   15  ...    51   40    11   59
8                       Arsenal           38   14  ...    56   48     8   56
9              Sheffield United           38   14  ...    39   39     0   54
10                      Burnley           38   15  ...    43   50    -7   54
11                  Southampton           38   15  ...    51   60    -9   52
12                      Everton           38   13  ...    44   56   -12   49
13             Newcastle United           38   11  ...    38   58   -20   44
14               Crystal Palace           38   11  ...    31   50   -19   43
15   Brighton &amp; Hove Albion           38    9  ...    39   54   -15   41
16              West Ham United           38   10  ...    49   62   -13   39
17                  Aston Villa           38    9  ...    41   67   -26   35
18                  Bournemouth           38    9  ...    40   65   -25   34
19                      Watford           38    8  ...    36   64   -28   34
20                 Norwich City           38    5  ...    26   75   -49   21

[20 rows x 10 columns]